/* Variables */
:root{
    --bg-1 : rgb(0, 49, 57);
    --bg-2 : rgb(183, 0, 255);
}



/* Reset */
:root > * {
    margin: 0;
    border: none;
}


body{
    height: 100vh;
    background-image: linear-gradient(var(--bg-1), var(--bg-2));

    color: white;
}


.mainContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    height: 100%;

}


.mainContainer > *{

}

.subContainer{
    height: 70vh;
    border-radius: 10px;
}

.form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    padding: 50px;
    gap: 10px;

    border-radius: 10px;
}

.bookInput{
    display: grid;
    justify-content: center;
    align-items: center;
}

#bookViewer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 20px;

    border: solid 4px white;

    margin: 20px;

    overflow: auto;

    height: 80%;
}

.bookCard{
    border: solid 2px white;
    border-radius: 10px;
    width: 100%;
}