/* Variables */
:root{
    --bg-1 : rgb(0, 49, 57);
    --bg-2 : rgb(183, 0, 255);
}



/* Reset */
:root > * {
    margin: 0;
}


body{
    height: 100vh;
    background-image: linear-gradient(var(--bg-1), var(--bg-2));
}